.vscode/**
.vscode-test/**
.git/**
.github/**

src/**
test/**
tests/**

*.map
*.ts
*.log

CHANGELOG.md

node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/docs/**
node_modules/**/.github/**
node_modules/**/.history/**
node_modules/**/README.md
node_modules/**/CHANGELOG.md
node_modules/**/LICENSE*
node_modules/**/.eslintrc
node_modules/**/.nycrc
node_modules/**/webpack.config.js
node_modules/node-web-audio-api/node-web-audio-api.darwin*
node_modules/node-web-audio-api/node-web-audio-api.linux*
node_modules/node-web-audio-api/node-web-audio-api.win32-arm64*